<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>上传</title>
  </head>
  <body>
    <!-- 必须加上 enctype="multipart/form-data" -->
    <form action="/upload" method="post" enctype="multipart/form-data">
      <!-- type、name 属性必填 -->
      头像上传：<input type="file" name="upload" />
      <button>提交</button>
    </form>
  </body>
</html>
